body {
  margin: 0;
  font-family: Inter;
  background: #e6f4ea;
}

.header {
  background: #16a34a;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.login-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

button {
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #16a34a;
  color: white;
}

.home {
  padding: 16px;
}

.stat {
  background: white;
  padding: 16px;
  border-radius: 16px;
  margin-top: 10px;
}

.stat.danger { border-left: 5px solid red; }
.stat.success { border-left: 5px solid green; }

.inventory {
  padding: 12px;
}

.med-card {
  background: white;
  padding: 14px;
  margin-top: 10px;
  border-radius: 16px;
}

.med-top {
  display: flex;
  justify-content: space-between;
}

.med-bottom {
  display: flex;
  justify-content: space-between;
}

.scan-page {
  padding: 16px;
}

.scan-card-big {
  background: white;
  padding: 30px;
  margin-top: 10px;
  border-radius: 20px;
  text-align: center;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: white;
}

.nav button {
  flex: 1;
  background: none;
  color: #555;
  display: flex;
  flex-direction: column;
}

.nav .active {
  color: #16a34a;
}